.input__wrapper {
    position: relative;
}

.input__label {
    display: block;
    margin: 3rem 0 0.5rem 0;
    width: 16rem;
    height: 1rem;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 0,8125rem;
    line-height: 1rem;
    color: var(--main-black-text-color);
}

.input__area {
    appearance: none;
    width: 16rem;
    height: 2rem;
    border: 0.0625rem solid var(--main-border-color);
    border-radius: 0.25rem;
    padding: 0.25rem 0.25rem 0.25rem 0.5rem;
    box-sizing: border-box;
    font-family: Ubuntu;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    background-color: var(--day-white-color);
    color: var(--day-lightblue-color);
}

input[type=datetime]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.input__icon {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    width: 1rem;
    height: 1rem;
    stroke: var(--day-lightblue-color);
    opacity: 1;
    transition: opacity 0.25s easy-in;
    background-color: white;
}

.input__area_empty {
    color: var(--day-lightblue-color);
}

.input__area:invalid {
    border-color: var(--error-color);
    color: var(--main-black-text-color);
}

.input__area_disabled {
    background-color: var(--day-lightblue-color);
    border-color: var(--blue-color);
    color: var(--main-black-text-color);
}

.input__area_disabled + .input__icon {
    background-color: var(--day-lightblue-color);
}